@font-face {
  font-family: letraGi;
   src: url(../fonts/GI-Regular.otf);
}
.letrasGi{
  font-family: letraGi,'Open Sans',serif;
}
.transparenteClaro{
  background-color: rgba(236, 239, 241, 0.7);
  border-top: #eceff1;
  border-left: #eceff1;
  border-bottom: #eceff1;
}
.seccion2{
  background-color: #4CAF50;
  width: 100%;
  height: auto;
  padding: 3%;
}
.seccion1{
  background-color: #E91E63; /**/
  width: 100%;
  height: auto;
  padding: 3%;
}
.seccion{
  /*background-color: rgba(236, 239, 241, 0.7);*/
  background-color: #1565C0;
  width: 100%;
  height: auto;
  padding: 3%;
}



.fondo{
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.animEscalarSimple:hover,
.animEscalarSimple.active {
  -moz-transform: scale(1.08);
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
  transition:.5s;
}

.txtDorado{
  color:#ffc107;
}
.texto3d{
  text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
  color: #fff;
}
.sombra{
  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.25);
}
.sangria {
    text-indent: 20px;
}

.enlaceSimple{
  padding: 2%,0,0,0;
  color: #fff;
}
.enlaceSimple:hover{
  text-decoration: none;
  color: #ffc107;
}
.enlaceSimple:active{
  text-decoration: none;
  color: #009688;
}
.enlaceSimple:link{
  text-decoration: none;
}


.paddingContenido{
  padding:5% 0 6% 0;  /*padding arriba derecha abajo izquierda*/
}
.imgIndx{
  width: 100%;
  height: 100%;
}
body {
    width: 100%;
    height: 100%;
}
html {
    width: 100%;
    height: 100%;
}


#barraNav{
  padding-left: 2.5%;
  padding-right: 2.5%;
}
.navbar-default {
  border-color: transparent;
  background-color: transparent;

}

.dropdown-menu{
  background-color: #37474f;
}


div#negro{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);

}
div#dialogo{
	position: absolute;
	top:50%;
	left:50%;
	margin-left: -150px;
	margin-top:-200px;
	width:300px;
	height: 100px;
	background-color: white;
	border-radius: 3px;
	border: 1px solid #c3c3c3;

}

div#dialogo p{
	padding:10px;
	padding-top: 20px;
	font-size: 1.3em;
	text-align: center;
}
/*efecto inicial*/
article {
			position: relative;
			width: 100%;
			height: 700px;
			overflow: hidden;
		}
		article img {
			position: absolute;
      width: 100%;
       height: auto;
		}
		article p {
			position: absolute;
			width: 100%;
			margin-top: 200px;
			color: #fff;
			font-size: 6em;
		}

.imgPortafolio{
  width: 90%;
  height: 90%;
}

/*?'''''''''''''''''''''''''''''''''''''''''''''''''''''''''*/

.recipe-list {
  padding: 0;
  margin: 120px 0 80px;
}
.recipe-list li {
  position: relative;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.85);
  float: left;
  /*border-radius: 50%;*/
  margin-left: -20px;
  box-shadow: 0px 0px 40px #000;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.recipe-list li:first-child {
  margin: 0;
}
.recipe-list li:hover,
.recipe-list li.active {
  -webkit-transform: scale(1.5)!important;
  -moz-transform: scale(1.5)!important;
  -o-transform: scale(1.5)!important;
  -ms-transform: scale(1.5)!important;
  transform: scale(1.5)!important;
  z-index: 50!important;
  background-color: #ffffff;
}
.recipe-list li img {
/*  border-radius: 50%;*/
  max-height: 100%;
  height: 100%;
  width: 100%;
}
.recipe-list li.layer0 {
  z-index: 0;
}
.recipe-list li.layer1 {
  z-index: 10;
}
.recipe-list li.layer2 {
  z-index: 20;
}
.recipe-list li.layer3 {
  z-index: 30;
}
